html 
    head 
        title= 'PUG'
        link(href="./style.css" rel="stylesheet" type="text/css")
    body 
        main 
            button(class='changeView')
                a(href='/')= 'Ir a formulario'
            section(class='cardContainer')
                if products.length 
                    each item in products 
                        div(class='card')
                            h2=item.title
                            img(src=item.thumbnail)
                            p=item.price
                else 
                    h1= 'Lista vacia'